body {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  -webkit-transition: background-position 400ms linear;
  -ms-transition: background-position 400ms linear;
  transition: background-position 400ms linear;

  background-size: 200% 100%;
  /* background-image: linear-gradient(to left, #600 50%, yellow 50%); */
  /* transition: background-position 1s; */

  background: linear-gradient(to left, wheat 50%, #121212 50%) right;
  background-size: 200% 100%;
  -webkit-transition: background-position 400ms linear;
  -ms-transition: background-position 400ms linear;
  transition: background-position 400ms linear;
}

.switch {
  margin: 20px 0;
}

canvas {
  background-color: lightgray;
  /* width: 500px;
  height: 500px; */
  margin-bottom: 100px;
}

.weight {
  margin-bottom: 50px;
}

.color {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: black;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
  /* background-color: black; */
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
