button {
    outline: 0;
    border: 0;
    cursor: pointer;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button--open {
    position: absolute;
    background: rgb(34, 193, 195);
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
    width: 100px;
    height: 50px;
    border-radius: 10px;
    color: white;
}

.modal--bg {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: gray;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes popUp {
    from {
        /* transform: scale(0); */
        opacity: 0;
    }
    to {
        /* transform: scale(1); */
        opacity: 1;
    }
}

.visible {
    animation: popUp 1000ms;
    visibility: visible;
}

.hidden {
    background-color: white;
    visibility: hidden;
}
/* @keyframes scaleBack {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
} */

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}
.modal {
    animation: popUp 1000ms;
    background-color: white;
    width: 250px;
    height: 200px;
    text-align: center;
    border-radius: 10px;
    background: rgb(34, 193, 195);
    background: linear-gradient(
        0deg,
        rgba(34, 193, 195, 1) 0%,
        rgba(253, 187, 45, 1) 100%
    );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    position: relative;
    /* box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08); */
    /* -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, */
    /* 5px 5px 15px 5px rgba(0, 0, 0, 0); */
    box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
        5px 5px 15px 5px rgba(0, 0, 0, 0);
}
.modal__text {
    color: white;
}

.button--close {
    background-color: transparent;
    color: white;
    position: absolute;
    top: 6px;
    right: 6px;
}
