* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

button {
  outline: none;
  border: 1px solid white;
  cursor: pointer;
  background-color: transparent;
}

body {
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* top */
.top {
  margin: 100px 0px;
  font-size: 50px;
}

.date,
.month {
  color: red;
}
/* bottom */
.bottom {
  display: flex;
}

/* clock */
.clock {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.analog {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 30px;
}

.analog__hour,
.analog__minute,
.analog__second {
  position: absolute;
  /* top: 100px; */
  left: 100px;
  background-color: skyblue;
  width: 3px;
  transform-origin: 100% 100%;
  /* font-weight: bo */
  /* transition: transform-rotate 1000ms linear; */
}

.analog__hour {
  top: 40px;
  height: 60px;
  /* transform: rotate(120deg); */
}

.analog__minute {
  top: 20px;
  height: 80px;
}

.analog__second {
  top: 10px;
  background-color: red;
  height: 90px;

  transform: rotate(60deg);
}

.digital {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digital__clock {
  font-size: 30px;
}
.PMor24Btn {
  /* padding: 10px; */
  height: 35px;
  width: 50px;
  /* line-height: 28px; */
  margin-top: 6px;
  margin-left: 10px;
  text-align: center;
  font-size: 20px;
  color: white;
}

.PMor24Btn:hover {
  background-color: white;
  color: skyblue;
}
